<footer class="footer-container">
    <div class="w3-container">
        <img src="/Images/Logos/logo.png" class="w3-right" alt="" width="50">
        <div class="slogan">
            Keep Imagining... Keep Learning
        </div>
    </div>
    <div class="w3-container" style="margin-top: 10px;">
        <h5>Created by Didash20</h5>
        <a href="http://didash20.github.io/">More about Me</a><br>
        <a href="https://github.com/didash20">More about My Projects</a>
    </div>
</footer>