<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lab Manager | <%= page %></title>
<link rel="icon" type="image/png" href="/Images/Logos/logo.png" >
<meta name="active-menu" content="<%= menuId %>">
<meta name="account" content="<%= JSON.stringify(account) %>">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/ThemeColors.css">
<link rel="stylesheet" href="/style.css">
<script src="/datetimeinput/datetimeinput.js"></script>