<div class="w3-container"  id="Q0">
  <div class="w3-center">
    <h1>Welcome to Remote Device Manager</h1>
  </div>
  <div class="w3-container" id="Q_RDM">
    <h2>What is <b>Remote Device Manager</b>?</h2>
    <p class="w3-large">
      The <b>Remote Device Manager</b>, or RDM for short, is an intuitive interface made for you to 
      interact with any kind of device capable of hosting a web server. The service allows you to
      schedule a <b><a href="#Q_Resource">Resource</a></b>, and by you providing a unique URL, you will 
      be the only one able to connect to this resource at that given time. You can even share this 
      URL to others, so all those with the link at their disposal will connect to the device at the 
      same time as you do.
      <br><br>
      <b>Remote Device Manager</b> is a place for you to
      experiment with a great variety of demos that we have for you. Here you will 
      find all kinds of different Instruments and Devices, used for many different kinds of
      applications, from teaching and research to industrial and medical purposes. Just 
      <a href="#" onclick="document.getElementById('signup').style.display='block'">Sign up</a>
      to start scheduling <b>Resources</b>. 
    </p>
  </div>
  <hr>
  <div class="w3-container"  id="Q_Resource">
    <h2>What is a <b>Resource</b>?</h2>
    <img class="w3-container" src="/Images/Resources.png" alt="Calendar" height="250" style="float: left;">
    <p class="w3-large">
      A <b>Resource</b> is another word for a demo. One same <b>Device</b> can have a huge
      variety of <b>Resources</b>, it depends on the use you want to give it. For example, a
      device can be used for medical purposes like reading someones heart rate, or for acquiring
      data from a temperature gauge in an industrial application. Our <b>Resources</b> are examples
      of this applications to let you know what device best fits your needs. You are able to 
      experiment with this applications with real instruments. Just
      <a href="#" onclick="document.getElementById('signup').style.display='block'">Sign up</a>
      to start scheduling them.
      <br><br>
      If you are interested in knowing which ones we have available for you before
      signing up just click on the left tab called <a href="/resources"><b>Resources</b></a>. 
      Or look for one in specific on the search bar above.
    </p>
  </div>
  <hr>
  <div class="w3-container"  id="Q_Reservation">
    <img class="w3-container" src="/Images/Make a Reservation.png" alt="Calendar" height="250" style="float: right;">
    <h2>How do I start making a <b>Reservation</b>?</h2>
    <p class="w3-large">
      To start making a <b>Reservation</b> first you have to
      <b><a href="#" onclick="document.getElementById('signup').style.display='block'">Sign up</a></b>, or
      <b><a href="#" onclick="document.getElementById('login').style.display='block'">Log in</a></b>
      if you already have an account.
      Once you have already done so, go to <a href="/resources"><b>Resources</b></a> and choose
      the one you are more interested in. After selecting it, click on the "calendar  <i class="fa fa-calendar"></i> "
      button next to it. You will see a pop up with a calendar and a scrolling time-picker like the one found on the right. 
      If the calendar is malfunctioning just close it by clicking outside of it and open it once again.
      Check that the selected date and resource match the ones found at the bottom of the pop up. 
      Click on <b>submit</b> when you are done with your Reservation.
    </p>
  </div>
  <hr>
  <div class="w3-container"  id="Q_Open">
    <h2>How do I open a <b>Resource</b>?</h2>
    <p class="w3-large">
      Once you have scheduled a <b>Resource</b> (Check <a href="#Q_Reservation">How do I start making a <b>Reservation</b>?</a> if you haven't done so) 
      Click on <a href="/reservations"><b>My Reservations</b></a> at the navigation side-bar.
      There you will see all the resources you have scheduled. Look for the one you want to open and
      click on the "play  <i class="fa fa-play-circle"></i> "  button found at its right. 
      If its date and time match the the current datetime then you will be able to open the resource. 
      If not you will have to wait until it is <b>available</b> or schedule a new one if it has <b>expired</b>.
    </p>
  </div>
</div>