<div class="w3-container">
    <div class="w3-center">
        <h1>Page under development</h1>
        <p>Sorry for the inconvenience. This page is still in development come back soon.</p>
    </div>
</div>