<div class="w3-container">
    <div class="w3-center">
        <h1>Expired Link</h1>
        <p>The scheduled resource you are trying to reach has expired. <br>
        <a href="/resources">Create a new reservation here</a> to access the instrument once again.</p>
    </div>
</div>