<div class="w3-container">
    <div class="w3-container">
        <hr style="margin-top: 0;">
        <div class="w3-center">
            <h1>How to Open Remote Panel VI Resources</h1>
        </div>
        <div>
            <h3>Viewing and Controlling Front Panels from a Web Browser</h3>
            <p>If you want to be able to view and control a front panel remotely using a Web browser, you must have at least the LabVIEW Run-Time Engine installed. The LabVIEW Run-Time Engine includes a LabVIEW browser plug-in package that installs in the browser plug-in directory. The LabVIEW Platform media contains an installer for the LabVIEW Run-Time Engine. If you have LabVIEW installed in your computer you already have the LabVIEW Run-Time Engine and there is no need of getting it.</p>
            <p><i class="fa fa-sticky-note fa-fw"></i> LabVIEW Runtime Engine can be downloaded from the NI website on the <a href="https://www.ni.com/en-us/support/downloads/software-products/download.labview-runtime.html#346222" target="_blank">LabVIEW Runtime Download</a> page.</p>
        </div>
    </div>
    <hr>
    <div class="w3-container">
        <div>
            <h3>Web Browser Support</h3>
            <p>NI highly recommends that customers use the supported browser (Internet Explorer).</p>
            <p>Previously, other browsers were able to display Remote Front Panels by utilizing a browser plugin mechanism called Netscape Plugin Application Programming Interface (NPAPI). This plugin mechanism was deprecated from Google Chrome beginning in version 42, Mozilla Firefox beginning in version 52, and Safari 12.1 in macOS Mojave 10.14.</p>
            <p>As such, Google Chrome version 42 and later, Mozilla Firefox 52 and later, Safari 12.1 in macOS Mojave 10.14, and Microsoft Edge are not supported browsers for these older NI web technologies.  </p>
            <p><i class="fa fa-sticky-note fa-fw"></i> If you want your browser to open Internet Explorer automatically, download and install the next file <a href="/cdn/ie protocol/ie.reg" target="_blank" download><i class="fa fa-file fa-fw"></i></a>.<br>
            <i class="fa fa-fw"></i> (If you do not want to install the file you can always open IE by your own).</p>
        </div>
    </div>
</div>